AppCommerce/__pycache__
AppCommerce/migrations/__pycache__
db.sqlite3
AliceCommerce/__pycache__/__init__.cpython-39.pyc
AliceCommerce/__pycache__/settings.cpython-39.pyc
AliceCommerce/__pycache__/wsgi.cpython-39.pyc
db.sqlite3
