{% extends "AppCommerce/index.html" %}

{% block content %}

{% if falla_contrasenia %}
<h1>La contraseña no coincide</h1>
{% endif %}

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <p>Nombre de usuario: <input type="text" name="nombre"></p>
    <p>Contraseña: <input type="text" name="contrasenia"></p>
    <p>Repetir contraseña: <input type="text" name="contrasenia_verificacion"></p>
    <p>Email: <input type="text" name="email"></p>
    <input type="submit" value="Registrarme"/>
</form>

{% endblock %}