{% extends "AppCommerce/index.html" %}

{% block content %}

{% if usuario.producto_set.count != 0 %}
<h2> Bienvenido {{ usuario.nombre }}, estos son tus productos publicados!</h2>
</br>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for producto in usuario.producto_set.all %}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h6 style="font-weight: 400; font-size:small;">{{ producto.categoria }}</h6>
                    <h4 class="fw-bolder">"{{ producto.nombre }}"</h4>
                    <h6 style="font-weight: 400;">{{ producto.descripcion }}</h6>
                    <!-- Product price-->
                    <h4>${{ producto.precio }}</h4>
                    <h6>Cantidad: {{ producto.cantidad }}</h6>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Borrar</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <h2> Bienvenido {{ usuario.nombre }}, todavía no tenes productos publicados.</h2>
    <h2> Publiquemos algunos!</h2><br>
    <h5>Para iniciar a vender, haz clic en el link "Publicar productos" que se encuentra en la esquina superior derecha.</h5>
{% endif %}

{% endblock %}